<!DOCTYPE html>
<html>
<head>
    <title>不倫度計算</title>
</head>
<body>
    <h1><strong>Gyoku内での不倫確率診断</strong></h1>
    <form action="/hurin" method="post">
        <p><em>アナタは不倫をしようとしたことがありますか？</em></p>
        <input type="radio" name="a" value="yes">はい
        <input type="radio" name="a" value="no">いいえ
        <br>
        <br>
        <p><em>不倫はバレなければいいと思いますか？</em></p>
        <input type="radio" name="b" value="yes">はい
        <input type="radio" name="b" value="no">いいえ
        <br>
        <br>
        <p><em>寝取りの趣味はありますか？</em></p>
        <input type="radio" name="c" value="yes">はい
        <input type="radio" name="c" value="no">いいえ
        <br>
        <br>
        <p><em>セックスは不倫ですか？</em></p>
        <input type="radio" name="d" value="yes">はい
        <input type="radio" name="d" value="no">いいえ
        <br>
        <br>
        <p><em>不倫相手と子供は欲しいですか？</em></p>
        <input type="radio" name="e" value="yes">はい
        <input type="radio" name="e" value="no">いいえ
        <br>
        <br>
        <input type="submit" value="不倫度を診断する">
    </form>
</body>
</html>
